{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    // "$A": "readonly"
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    ".idea/"
  ],
  "noInlineConfig": false,
  "overrides": [],
  "parser": "",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "root": false,
  "rules": {
    "semi": "error",
    "prefer-const": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 180,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "arrowParens": "always",
        "embeddedLanguageFormatting": "auto",
        "endOfLine": "lf"
      }
    ]
  },
  "settings": {}
}